<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - My Web App</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>

    <footer class="footer">
        Made with 💚 by Chaeng (Ploypaphat) Saltz 
    </footer>
</body>
</html>